.btn-create-product {
  float: left;
  margin-left: 57px;
}

#tf-search-product {
  width: 50%;
  float: left;
  margin-left: 20px;
}

.btn-advance-search {
  margin-left: 10px;
}

.content-advance-search {
  clear: both;
  display: none;
  margin-top: 20px;
}

.form-create label {
  padding-left: 0px;
}

.field-spec-create {
  display: none;
}

.spec-value {
  margin-bottom: 5px;
}

.spec-value {
  width: 75%;
  float: left;
}

.btn-delete-spec {
  float: right;
}

.header-product-category {
  width: 150px;
}

.header-product-name {
  width: 250px;
}

.header-product-price {
  width: 100px;
}

.header-product-manufacturer {
  width: 150px;
}

.action-product {
  margin-bottom: 20px;
}

.list-product {
  display: table;
  margin: auto;
}

.pagination-product {
  display: table;
  margin: auto;
}

.form-search-product {
  display: table;
  margin: auto;
}

#category_search, #manufacturer_search, #min-price-search, #max-price-search {
  width: 200px;
}
