.form-create {
  display: table;
  margin: auto;
}

.lbl_category_select {
  padding: 0;
  padding-top: 6px;
}

.category_select {
  width: 190px;
}

.btn-create-category {
  float: left;
  margin-left: 47px;
}

#tf-search-category {
  width: 60%;
  float: left;
  margin-left: 20px;
}

.btn-search {
  margin-left: 20px;
}

.header {
  text-align: center;
}

.controls {
  float: right;
}

.list-category {
  width: 88%;
}

.ul-list-category {
  list-style-type: none;
  margin-top: 20px;
}

.nested_set {
  list-style-type: none;
}

.name_category {
  font-size: 18px;
}

.edit, .delete {
  font-size: 16px;
}

.sub_category {
  display: none;
}

.notice {
  display: none;
}

.action_category_control td {
  padding-right: 30px;
}
